@media screen and (max-width: 1320px ) {
  .in-services {
    display: flex;
    align-items: center;
  }
  .services-left {
    padding: 0;
  }
  .services-list {
    margin: -20px 0 0;
  }
  .advantages {
    padding: 60px 0 90px;
  }
  .tariff-free {
    .white-bg {
      padding: 49px 90px;
    }
  }
  .tab-item {
    padding: 0;
  }
  .banner {
    .wrapper {
      padding: 0 20px;
    }
  }
  .bonuses-list {
    padding: 0 70px;
  }
  .bonuses-item {
    padding: 55px 50px 48px 360px;
  }
  .instruction {
    padding: 30px 0 78px;
    .in-instruction {
      padding: 60px 50px 50px 50px;
      background-size: contain;
    }
  }
  .prognosis-facts {
    li {
      width: 155px;

    }
    h2 {
      max-width: 350px;
    }
  }
  .quote {
    padding: 27px 16px 16px;
    left: 39px;
    right: -76px;
  }
  .command-right {
    padding: 47px 0px 0 90px;
  }
  .advantages-list {
    top: 0;
    overflow: auto;
  }
  .advantages-item {
    width: auto;
    .in {
      min-width: 250px;
      box-shadow: 0px 4px 35px rgba(208, 218, 227, 0.57);
    }
  }
}
@media screen and (max-width: 1024px ) {
  body {
    font-size: 12px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  h3 {
    font-size: 14px;
    line-height: 21px;
  }
  .services-list {
    margin: 0;
    padding: 0;
  }
  .copyright-links {
    a {
      margin: 0 0 0 10px;
    }
  }
  .logo {
    margin: 0 20px 0 0;
  }
  .command {
    padding: 100px 0 23px;
    .in {
      padding: 0;
    }
  }
  .services-item {
    .in {
      min-height: 379px;
    }
  }
  .in-services {
    padding: 0;
  }
  .services {
    padding: 57px 0 30px;
  }
  .advantages {
    padding: 66px 0 0;
  }
  .advantages-right {
    .col {
      padding: 0;
    }
  }
  .advantages-list {
    top: 0;
    overflow: auto;
  }
  .advantages-item {
    width: auto;
    .in {
      width: 200px;
      box-shadow: 0px 4px 25px rgba(208, 218, 227, 0.57);
    }
  }
  .white-bg {
    padding: 48px 20px;
  }
  .tariff-free {
    ul {
      padding: 0;
    }
    .white-bg {
      padding: 49px 50px;
    }
  }
  .tariffs {
    padding: 23px 0 30px;
  }
  .tariff-item {
    li {
      font-size: 12px;
      line-height: 20px;
    }
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
    i {
      font-size: 14px;
    }
    b {
      font-size: 18px;
    }
    .white-bg {
      min-height: 634px;
    }
    .btn {
      position: absolute;
      left: 20px;
      bottom: 48px;
    }
  }
  .bonuses {
    padding: 50px 0 35px;
  }
  .bonuses-list {
    padding: 0 50px;
  }
  .bonuses-item {
    padding: 55px 35px 48px 290px;
    img {
      left: 50px;
    }
  }
  .prognosis-facts {
    padding: 60px 0 50px;
    h2 {
      text-align: center;
      max-width: none;
      float: none;
      margin: 0 0 25px;
    }
    ul {
      float: none;
      display: flex;
      justify-content: center;
    }
  }
  .instruction {
    padding: 30px 0 40px;
    .in-instruction {
      padding: 60px 0px 50px 0px;
      margin: -17px -20px 0;
    }
  }
  .btn-more {
    i {
      font-size: 12px;
      padding: 0 21px 0 0;
      &:after {
        width: 13px;
        height: 12px;
        background-size: contain;
        top: 8px;
      }
    }
  }
  .btn {
    font-size: 14px;
  }
  .command-right {
    padding: 15px 0px 0 90px;
  }
  .logo {
    width: 150px;
  }
  .header {
    padding: 38px 0 0;
  }
  .header-top {
    padding: 0;
    p {
      margin: 7px 0 7px;
    }
  }
  .btn-login {
    margin: 0;
  }
  .phone {
    padding: 17px 0 15px;
  }
  .menu {
    li:first-child {
      a {
        padding: 15px 20px 15px 0;
      }
    }
     a {
       padding: 15px 20px;
     }
  }
  .img-wrapper {
    img {
      opacity: 0.4;
    }
  }
  .main {
    padding: 90px 0 200px;
    h1 {
      font-size: 35px;
      line-height: 45px;
    }
  }
  .masthead {
    bottom: -180px;
  }
}
@media screen and (max-width: 767px ) {
  .phone {
    float: none;
    position: absolute;
    top: 0;
    right: 70px;
    font-size: 0;
    padding: 0;
    margin: 0 8px 0 0;
    line-height: 0;
    &:after {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background: url("../images/svg/icon14.svg") center center no-repeat, linear-gradient(326.06deg, #2641D1 11.53%, #3333A3 74.32%);
      border-radius: 7px;
    }
  }
  .services {
    padding: 26px 0 30px;
  }
  .services-item {
    width: 100%;
    margin: 0 0 8px;
    text-align: center;
    padding: 0;
    h3 {
      text-align: center;
      margin: 15px 0 13px;
    }
    .in {
      padding: 24px 24px 24px;
      min-height: 281px;
    }
    img {
      height: 94px;
    }
  }
  .advantages {
    padding: 36px 0 0;
  }
  .advantages-list {
    display: block;
    margin: 0 -20px;
    padding: 14px 0;
  }
  .advantages-item {
    margin: 0 0 8px;
    width: 100%;
    padding: 0 20px;
    .in {
      width: auto;
      min-height: auto;
      padding: 32px 32px 18px;
    }
  }
  .advantages-left {
    float: none;
    position: relative;
  }
  .advantages-right {
    float: none;
    padding: 9px 0 0;
    h4 {
      font-size: 14px;
    }
    .col {
      width: 100%;
      float: none;
    }
    p {
      margin: 0 0 18px;
    }
    ul {
      padding: 5px 15px 0 0;
    }
    li {
      margin: 0 0 15px;
    }
  }
  .bonuses-list {
    padding: 0;
  }
  .bonuses-item {
    padding: 24px 24px 24px 24px;
    text-align: center;
    img {
      position: relative;
      left: 0;
      top: 0;
      width: 59%;
      margin: 0 0 16px;
    }
    p {
      margin: 0 auto 10px;
      &:last-child {
        margin: 0 auto;
      }
    }
  }
  .bonuses {
    padding: 16px 0 35px;
    .btn {
      margin: 8px 0;
    }
  }
  .banner {
    text-align: center;
    height: 274px;
    padding: 48px 0;
    h3 {
      font-size: 24px;
      line-height: 30px;
      max-width: 200px;
      margin: 0 auto 14px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
      margin: 0 auto;
    }
  }
  .footer-top {
    .logo {
      float: none;
      margin: 0 auto;
      width: 127px;
    }
    p {
      float: none;
      margin: 8px auto;
      text-align: center;
    }
  }
  .social-links {
    float: none;
    padding: 23px 0 0 0;
    text-align: center;
    a {
      width: 45px;
      height: 45px;
      padding: 13px 0;
    }
  }
  .copyright-links {
    float: none;
    margin: 0 0 32px;
    text-align: center;
    a {
      display: block;
      margin: 0 0 8px;
    }
  }
  .copyright {
    padding: 32px 0 20px;
    .wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
    p {
      float: none;
      max-width: 220px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .prognosis-facts {
    padding: 48px 0 32px;
    span {
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 10px;
    }
    ul {
      flex-wrap: wrap;
    }
    li {
      width: 140px;
      margin: 0 0 20px;
    }
    h2 {
      margin: 0 0 30px;
    }
  }
  .instruction {
    padding: 30px 0 7px;
    .col {
      width: 100%;
      &:last-child {
        padding: 0 16px;
      }
      &:nth-child(even) {
        padding: 0 16px;
      }
    }
    .in-instruction {
      padding: 39px 0px 50px 0px;
    }
  }
  .step {
    padding: 24px;
  }
  .step-3 {
   img {
     width: 67%;
     margin: 0 auto 16px;
     max-width: 231px;
   }
  }
  .command {
    padding: 73px 0 71px;
    .in {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .command-left {
    float: none;
    width: 100%;
    img {
      max-width: 203px;
    }
  }
  .command-right {
    width: 100%;
    float: none;
    padding: 0 0 32px;
    text-align: center;
    ul {
      text-align: left;
      margin: 17px 0 9px;
    }
    p {
      text-align: left;
      margin: 0 0 16px;
    }
    b {
      font-size: 12px;
    }
    h2 {
      margin: 0 0 18px;
    }
  }
  .btn {
    font-size: 12px;
    padding: 17px 23px 15px;
  }
  .quote {
    right: auto;
    bottom: 35px;
    p {
      font-size: 11px;
      max-width: 209px;
      &:after {
        width: 6px;
        top: -12px;
      }
    }
  }
  .tariffs {
    padding: 51px 0 64px;
  }
  .tariff-item {
    width: 100%;
    padding: 0;
    margin: 0 0 8px;
    h4 {
      font-size: 12px;
      text-align: center;
      margin: 0 0 8px;
    }
    p, b, i {
      text-align: center;
    }
    li {
      margin: 0 0 8px;
    }
    .white-bg {
      min-height: auto;
    }
    .btn {
      position: relative;
      bottom: 0;
      padding: 16px 42px 16px;
      width: 100%;
      box-sizing: border-box;
      left: 0;
    }
  }
  .white-bg {
    padding: 24px 20px;

  }
  .btn-more {
    margin: 16px 0;
  }
  .in-services {
    display: block;
    margin: 0 -20px;
  }
  .services-left {
    width: 100%;
    float: none;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    img {
      width: 54px;
    }
    h2 {
      margin: 19px 0 16px;
    }
    p {
      margin: 12px auto;
    }

  }
  .services-right {
    width: 100%;
    float: none;
    img {
      transform: scale(1.4);
    }
  }
  .services-list {
    h3 {
      margin: 6px 0 21px;
    }
  }
  .main {
    text-align: center;
    padding: 15px 0 200px;
    h1 {
      font-size: 24px;
      line-height: 30px;

    }
    p {
      font-size: 12px;
      margin: 14px auto 16px;
    }
    .label {
      display: flex;
    }
  }
  .masthead {
    flex-direction: column;
    width: 100%;
    position: relative;
    left: 0;
    bottom: -180px;
    padding: 30px 37px 4px 32px;
  }
  .masthead-item {
    padding: 0;
    margin: 0 0 10px;
    img {
      margin: 0 auto 16px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .tariff-free {
    .white-bg {
      padding: 24px 30px;
    }
    p {
      line-height: 20px;
    }
    ul {
      display: block;
    }
    li {
      width: 100%;
    }
  }
  .tab-menu {
    li {
      font-size: 12px;
      width: 106px;
    }
  }
  .logo {
    width: 90px;
    margin: 10px 20px 0 0;
  }
  .header-top {
    p {
      display: none;
    }
    .btn-login {
      display: none;
    }
  }
  .img-wrapper {
    top: 13%;
    width: 100%;
    max-width: none;
    right: 0;
    text-align: center;

    img {
    max-width: 100%;
      display: inline-block;
    }
    .label {
      display: none;
    }
  }
  .menu {
    display: none;
    position: absolute;
    li {
      float: none;
    }
    li:first-child {
      a {
        padding: 15px 20px;
      }
    }
  }
  .menu.active {
    display: block;
    text-align: center;
    padding: 20px 0 30px;
    .btn-login {
      display: inline-block;
      float: none;
      margin: 20px 0 0;
      color: #fff;
    }
  }
  .label {
    width: 122px;
    height: 122px;
    background-size: contain;
    top: 40%;
    bottom: 0;
    left: 50%;
    right: auto;
    margin: 0 0 0 -50px;
    i, b {
      font-size: 12px;
    }
    p {
      font-size: 10px;
      line-height: 12px;
      margin: 0;
    }
  }
  .burger {
    display: block;
  }
  .header {
    padding: 22px 0 0;
  }
  .wrapper-img {
    text-align: left;
    img {
      width: 159px;
    }
  }
  .popup-contact {
    p {
      font-size: 10px;
    }
    .btn {
      font-size: 10px;
      padding: 9px 17px;
    }
  }
  .tab-menu {
    margin: 13px 0;
    li {
      padding: 2px 20px;
      margin: 0 5px;
    }
  }
  .step {
    h3 {
      font-size: 14px;
      line-height: 30px;
    }
    p {
      max-width: none;
    }
  }
}
@media screen and (max-width: 500px ) {
.main {
  .label {
    top: 45%;
  }
}
}